body{
    margin: 0;
    background-image:url('../imagens/Pattern1.jpg');
    
}

#sobre{
    text-shadow: 10px;
}

#listaDeCategorias {
    position: fixed;
    width: 8em;
    margin-top: -2.5em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding: 0%;
    background-color:rgba(187,232,235,255) ;
    margin: 10px;
    align-items: center

    
}
li{
    list-style: none;
}

#categorias{
    text-align: center;
    width: 100%;
    height: auto;
    

}
header{

    background-color: rgba(187,232,235,255);
    width: 97%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 5px solid rgba(187,232,235,255);
    border-radius: 10px;
    margin: 3px; 
    

}

#SecaoSobre{
    display:flex;
    text-align: center;
    justify-content: space-around;
    height: 33vh;
    

}
#SobreTitulo{
    justify-content: space-around;
}
#logo{
    float:none;
    width:600px;
    margin: 10px;
}

#listaContatos{
    color: rgb(0, 88, 177);
    text-align: left;
    padding: 0%;
    margin: 10px;
    
    
    
}

#icone{
    margin: 0%;
}
button{
    color: rgb(0, 88, 177);
    border:1px;
    border-radius:6px;
    cursor:pointer;
    font-family:"Work Sans", Arial, sans-serif;
    font-weight:bold;
    font-size:18px;
    padding:6px 10px;
    border-style:groove;
    height: 35px;
    

    
} 




 



