<form action="/agendamento" method="post">
    <div id="agendamento">
        <h1>Agendamento</h1>
    
            <fieldset>
                <legend>DADOS GERAIS</legend>
                 Nome* <input type="text" name="nomecompleto" required="true" placeholder="Digite seu nome">
                 Idade* <input type="number" name="Idade" required="true" placeholder="Digite sua idade">
                 Email* <input type="email" name="email" required="true" placeholder="Digite seu email">
                 Telefone* <input type="text" name="telefone" required="true" placeholder="Digite seu telefone">
                 <button>
                    Enviar
                </button>
                 <p>Você recebera um email retornando um horario disponvel.</p>
                 <p>* Campos obrigatorios</p>
            </fieldset>
    
    </div>
</form>