<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial Aya</title>
    <link href="CSS/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/45d20ce4a1.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet'>
    
</head>

<body>
    
    <script src="JQuery/jquery-3.6.1.min.js"></script>
    <header>
        <div id="ImagemFrontAya">
            <img src="imagens/FrontAya.png" alt="logo">
        </div>
        <div>
            <ul id="listaContatos">
                <i class="fa-map-location fa-solid">

                    <li>
                        <p>Av. Pedro Firmino</p>
                    </li>
                    <li>
                        <p>
                            107
                        </p>
                    </li>
                    <li>
                        <p>Milindra Empresarial Center </p>
                    </li>
                    <li>
                        <p>Sala 908</p>
                    </li>
                    <li>
                        <p>Patos-PB</p>
                    </li>

                </i>
            </ul>
        </div>
        <div>
            <ul id="listaDeCategorias">
              
                <i class=" fa-solid fa-house-circle-check">
                    <button id="home">
                        <li>
                            Home
                        </li>
                    </button>
                </i>
                <i class="fa-solid fa-envelope-circle-check">
                    <button id="agendar">
                        Agendamento
                    </button>
                </i>
                <i class="fa-solid fa-people-group">
                    <button id="profissionaisBtn">
                        <li>
                            Profissionais
                        </li>
                    </button>
                </i>
            </ul>
        </div>
    </header>